{% extends 'navigation_bar.html' %}

{% block page_name %}
About This Wiki
{% endblock %}

{% block content %}
{% include 'navigation_bar.html' %}
<html>
<head>
    <title> About Page</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
    <body>
        <div class = "">
            <div class = "about-wiki">
                <h1>About this Wiki</h1>
                <p>This wiki is about recipes from different cultures such as Nigeria and Mexico. The recipe includes ingredients and steps to achieveing those meals</p>

                <h1>Your Authors</h1>
            </div>
            
            <div class = "user-profile">
                <div>
                    <p>Aramide Ogundiran</p>
                    <img src= "data:image/PNG;base64,{{img1}}" >
                </div>
               <div>
                    <p>Gabriel Terrezas</p>
                    <img src = "data:image/jpeg;base64,{{img2}}" >
               </div>
                <div>
                    <p>Julian Pacheco</p>
                    <img src= "data:image/PNG;base64,{{img3}}" >
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}

