<!DOCTYPE html>
<html>
<body>
    <center>
        <h1>Chicken Tamales</h1>
    </center>
    <ul>
        <li>
        <b>For Husks:</b>
        Cover corn husks with cold water; soak until softened, at least 2 hours.
        </li>
        <br>
        <li>Place chicken, onion, salt and garlic in a 6-qt. stockpot. Pour in 3 qt. water; bring to a boil. Reduce heat; simmer, covered, until chicken is tender, 45-60 minutes. Remove chicken from broth. When cool enough to handle, remove bones and skin; discard. Shred chicken. Strain cooking juices; skim off fat. Reserve 6 cups stock.
        </li>
        <br>
        <li>
        <b>For dough:</b> 
        beat shortening until light and fluffy, about 1 minute. Beat in small amounts of masa harina alternately with small amounts of reserved stock, using no more than 2 cups stock. Drop a small amount of dough into a cup of cold water; dough should float. If not, continue beating, rechecking every 1-2 minutes.
        </li>
        <br>
        <li><b>For filling:</b>heat oil in a Dutch oven; stir in flour until blended. Cook and stir over medium heat until lightly browned, 7-9 minutes. Stir in seasonings, chicken and remaining stock; bring to a boil. Reduce heat; simmer, uncovered, stirring occasionally, until thickened, about 45 minutes.
        </li>
        <br>
        <li>Drain corn husks and pat dry; tear 4 husks to make 20 strips for tying tamales. (To prevent husks from drying out, cover with a damp towel until ready to use.) On wide end of each remaining husk, spread 3 tablespoons dough to within 1/2 in. of side edges; top each with 2 tablespoons chicken filling and 2 teaspoons olives. Fold long sides of husk over filling, overlapping slightly. Fold over narrow end of husk; tie with a strip of husk to secure.
        </li>
        <br>
    <li>Place a large steamer basket in the stockpot over water; place tamales upright in steamer. Bring to a boil; steam, covered, adding hot water as needed, until dough peels away from husk, about 45 minutes.
    </li>
    </ul>
    <center>
        <img src= https://www.thespruceeats.com/thmb/j0ICWLtIHhhsToqF_tQMP5Qj6g4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/tamales-56a58b275f9b58b7d0dd4fb1.jpg alt="Hot Tamale!" width="400" height="333">
    </center>
</body>
</html>
