<!DOCTYPE html>
<html>
<body>
    <center>
        <h1>Huevos Rancheros</h1>
    </center>
    <ul>
        <li>
        <b>Make the salsa:</b>
        Sauté the onions in a little olive oil in a large skillet on medium heat. Once the onions are translucent, add the tomatoes and their juices. If using whole canned tomatoes, break them up with your fingers or a spatula as you put them in the pan.
        If you are using fresh tomatoes, chop them first before adding. Note that fresh tomatoes will take longer to cook as canned tomatoes are already cooked to begin with.
        Add chopped green chilies. Add additional seasoning to taste, either chipotle chili powder, adobo sauce, regular chili powder, or even ground cumin.
        Bring to a simmer, reduce heat to low, and let simmer while you do the rest of the cooking, stirring occasionally. Reduce to warm after it has been simmering for 10 minutes. Add salt to taste, if needed.</li>
        <br>
        <li>
        <b>Warm the plates:</b>
        Heat the oven to 150°F. Place serving plates (not plastic, obviously) in the oven to keep warm.
        </li>
        <br>
        <li>
        <b>Prepare the tortillas:</b>
        Heat a teaspoon of olive oil in a large non-stick skillet on medium high, coating the pan with the oil.
        One by one (or more if your pan is big enough) heat the tortillas in the pan, a minute or two on each side until they are heated through, softened, and pockets of air bubble up inside of them.Remove and stack the tortillas on one of the warming plates in the oven to keep warm while you continue cooking the rest of the tortillas and the eggs.
        </li>
        <br>
        <li>
        <b>Fry the eggs:</b>
        Using the same skillet you used for the tortillas, add a little butter to the pan, about two teaspoons for 4 eggs. Heat the pan on medium high heat. Crack 4 eggs into the skillet and cook for 3 to 4 minutes for runny yolks, a minute or two longer for firmer eggs.
        </li>
        <br>
        <li>
        <b>Assemble and serve:</b>To serve, spoon a little of the sauce onto a warmed plate. Top with a tortilla, then a fried egg. Top with more sauce, sprinkle with cilantro if desired.
        Serve either one or two eggs and tortillas per plate, depending on how much you want to eat. I'm a two-egg, two-tortilla person myself.
        </li>
    </ul>
    <center>
        <img src= https://cdn.apartmenttherapy.info/image/upload/f_jpg,q_auto:eco,c_fill,g_auto,w_1500,ar_1:1/k%2FPhoto%2FSeries%2F2021-how-to-huevos-rancheros%2F2021-04-13_ATK-50922 alt="The code is all scrambled!" width="400" height="400">
    </center>

    </body>
</html>