<!DOCTYPE html>
<html>
<head>
    <title>Wikipedia Pages</title>
    <link rel="stylesheet" href="../static/main.css">
</head>

    {% include 'navigation_bar.html' %}
<body class = "pages-body">
    <form action="/wiki_page/search" method="POST">
        <input type="text" name="search" placeholder="Search recipes...">
        <input type="submit" value="Search">
    </form>
    
    <h1> Recipes</h1>
    <p>Our wikipedia is about food recipes. The pages in this wiki are: </p>
    {%for page in result%}
    <li class = ""> 
        <a href="/pages/{{page}}">{{page}}</a>
    </li>
 {% endfor %}
</body>

