<!DOCTYPE html>
<html>
    <h3 class = "recipe_header">Submit a rating</h3>

    <form class = "recipe_form" action="/pages/{{page_id}}" method="POST">
        
        <input type="number" name="rating" id="rating" min="1" max="5" required>
        <input type="submit" value="Submit">
    </form>
    
    <details>
        <summary class = "details">View Average Rating</summary>
        <h3 class="recipe_ratings">Average Rating for {{page_id}} is {{average_rating}}</h3>
    </details>
    
    
    
    </body>
</html>