<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: white;
                color: black;
            }

            .dark-mode {
                background-color: dimgrey;
                color: white;
            }
        </style>
    </head>

    <body>
        {% include 'navigation_bar.html' %}
        <center>
            <h2>Settings</h2>
        </center>
        <ul>
            <li><button onclick="nightMode()">Toggle night mode</button></li>
            <br>
            <li><button onclick="window.location.href='/bookmarks';">View Bookmarked Pages
        </button></li>
            <li><form action="/settings/language" method="post">
                <p>Change your preferred language:</p>
                
                <input type="radio" id="Spanish" name="fav_language" value="Spanish">
                <label for="Spanish">Spanish</label><br>
                
                <input type="radio" id="English" name="fav_language" value="English">
                <label for="English">English</label><br>
                
                <input type="radio" id="French" name="fav_language" value="French">
                <label for="French">French</label><br>
                
                <input type="radio" id="Italian" name="fav_language" value="Italian">
                <label for="Italian">Italian</label><br>
              
                <br>
                <input type="submit" value="Save language">
              </form></li>
        </ul>

        <script>
            function nightMode() {
                var background = document.body;
                background.classList.toggle("dark-mode");
            }
        </script>

    </body>
</html>