<!DOCTYPE html>
<html>
    <head>
        <style>
        body {
        background-color: white;
        color: black;
        }

        .dark-mode {
        background-color: dimgrey;
        color: white;
        }
        </style>
    </head>

    <body>
        <center>
            <h2>Settings</h2>
        </center>
        <ul>
            <li><button onclick="nightMode()">Toggle night mode</button></li>
            <li><button onclick="window.location.href='url';">View Bookmarked Pages
        </button></li>
            <li><button onclick="window.location.href='url';">Change Recipe Language
        </button></li>
        </ul>

        <script>
        function nightMode() {
            var background = document.body;
            background.classList.toggle("dark-mode");
        }
        </script>

    </body>
</html>