{% extends 'navigation_bar.html' %}
{% block page_name %}
Settings
{% endblock %}
{% block content %}
        <center>
            <h2>Settings</h2>
        </center>
        <ul>
            <li><button onclick="nightMode()">Toggle night mode</button></li>
            <br>
            <li><button onclick="window.location.href='/bookmarks';">View Bookmarked Pages
        </button></li>
            <li><form action="/settings/language" method="post">
                <p>Change your preferred language:</p>
                
                <input type="radio" id="Spanish" name="fav_language" value="Spanish" 
                    {% if settings["Language"] == "Spanish" %}
                        checked
                    {% endif %}
                >
                <label for="Spanish">Spanish</label><br>
                
                <input type="radio" id="English" name="fav_language" value="English"
                    {% if settings["Language"] == "English" %}
                        checked
                    {% endif %}
                >
                <label for="English">English</label><br>
                
                <input type="radio" id="French" name="fav_language" value="French"
                    {% if settings["Language"] == "French" %}
                        checked
                    {% endif %}
                >
                <label for="French">French</label><br>
                
                <input type="radio" id="Italian" name="fav_language" value="Italian"
                    {% if settings["Language"] == "Italian" %}
                        checked
                    {% endif %}
                >
                <label for="Italian">Italian</label><br>
              
                <br>
                <input type="submit" value="Save language">
              </form></li>
        </ul>

        <script>
            function nightMode() {
                var background = document.body;
                background.classList.toggle("dark-mode");
            }
        </script>
{% endblock %}