{% extends 'navigation_bar.html' %}
{% block page_name %}
{{page_id}}
{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}
        <form action="/wiki_page/bookmark">
            <input type="checkbox" id="bookmark" name="bookmark" value="bookmark">
            <label for="bookmark"> Bookmark this page</label><br>
            <input type="submit" value="Submit">
        </form>
    {% endif %}
    <br>
    <div class = "container"> 
        <h3 class = "recipe_header">Submit a rating</h3>
        <form class = "recipe_form" action="/pages/{{page_id}}" method="POST">
            <input type="number" name="rating" id="rating" min="1" max="5" required>
            <input type="submit" value="Submit">
        </form>
        <details>
            <summary class = "details">View Average Rating</summary>
            <h3 class="recipe_ratings">Average Rating for {{page_id}} is {{average_rating}}</h3>
        </details>
    </div>
      
    {{ page_data | safe }}
{% endblock %}